body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
    background-image:url("images/blue_lego.png");
    width: 310px;
    height: 460px;
    border: 10px black solid;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
}

#total {
    height: 70px;
    width: 300px;
    margin:auto;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
}

#numbers, #operators {
    margin: auto;
}

#operators a {
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 39px;
    padding: 2px;
    margin: 5px 6px;
    background-image:url("images/yellowlego.jpg");
    border-radius: 50%;
    box-shadow: 10px 10px 5px #000000;
}

#numbers a {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 32pt;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 50%;
    background-image: url("images/yellowlego.jpg");
    box-shadow: 10px 10px 5px #000000;
}
body {
    margin-top:10%;

}

